<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".RunActivity"
            android:exported="false" />
        <activity
            android:name=".CallActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ProgressBarActivity"
            android:exported="true" />
        <activity
            android:name=".RadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="true" />
        <activity
            android:name=".InstaFooterActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreenActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MyInformationActivity"
            android:exported="false" />
        <activity
            android:name=".FooterButtonActivity"
            android:exported="true" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="true" />
    </application>

</manifest>